<%-	include("partials/header") %>
<div class="container">
		<form action="/comics" method="POST">
			  <div class="form-group">
				<label for="title">Title</label>
				<input type="text" class="form-control" name="title" placeholder= " book title" autofocus>
			  </div>
			  <div class="form-group">
				<label for="description">Description</label>
				<input type="text" class="form-control" name="description"  >
			  </div>
			  <div class="form-group">
				<label for="author">Author</label>
				<input type="text" class="form-control" name="author"  >
			  </div>
			  <div class="form-group">
				<label for="publisher">Publisher</label>
				<input type="text" class="form-control" name="publisher" placeholder= " ex: marvel,dc etc" >
			  </div>
			  <div class="form-group">
				<label for="date ">Date</label>
				<input type="date" class="form-control" name="date"  >
			  </div>
			  <div class="form-group">
				<label for="genre">Genre</label>
			      <select class=form-control id=genre name=genre>
					<option disabled selected>choose below</option>
					<option>Action</option>
					<option>Sci-Fi</option>
					<option>Shonen</option>
					<option>Manga</option>
					<option>Donghua</option>
					<option>Supernatrual</option>
					<option>Fantasy</option>
					<option>Slice-of-life</option>
					<option>Comedy</option>
					<option>Romance</option>
				  </select>

			  </div>
	    	  <div class="form-group">
				<label for="series">Series</label>
				<input type="text" class="form-control" name="series"  >
			  </div>
			  <div class="form-group">
				<label for="issue">Issue</label>
				<input type="number" class="form-control" name="issue"  >
			  </div>
			  <div class="form-group form-check">
				  <input type="checkbox" class=" form-check-input" name="color"  >
				  <label for="color">Color?</label>
			  </div>


			  <div class="form-group">
				<label for="image">Image Link</label>
				<input type="img" class="form-control" name="image" placeholder= "https//www.myimg.com" >
			  </div>
		  <button type="submit" class="btn btn-primary">Submit</button>
		</form>
</div>
<%-	include("partials/footer") %>

