
.card{
	border:1px solid #ddd;
	border-radius: 1rem;
	width: 30%;
 } 
 .card-img {
	width: 100%;
	height : 20rem;
	object-fit: cover;
	border-radius : 1rem 1rem 0 0; 
}
.card-title{
	text-align: center;
	font-family: 'Red Rose', sans-serif;
	font-weight: 400;
	font-size: 1.8rem;
} 
.card-text{
	text-align: center;
	font-family: 'Roboto', sans-serif;
	line-height : 1.4;
}
/* 
/* show page */
.show_image-container img{
	width:90%;
}
@media screen and (max-width: 800px) {
  .left, .main, .right {
    width: 100%; /* The width is 100%, when the viewport is 800px or smaller */
  }
}